h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 600;
}

.btn-custom {
    background-color: #3faf90 !important;
    border: 1px solid #3faf90 !important;
    color: #ffffff !important;
}

.btn {
    padding: 9px 27px;
    outline: none;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.7px;
    transition: all 0.3s;
    font-weight: 400;
    border-radius: 5px;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
}

.router-link-active {
    font-style: oblique;
}

.router-link-exact-active {
    font-style: oblique;
}

.section {
    padding: 100px 0;
    position: relative;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 24px;
}

.section-bg-light {
    background-color: #ebebeb !important;
}

.footer {
    padding: 60px 0;
    position: relative;
}

.footer .footer-head .title {
    color: #e9ecef;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer .footer-news .form-control {
    background-color: #313b48;
    border: 1px solid #495057;
    color: #f8f9fa;
}

.footer .footer-news .form-control:focus {
    box-shadow: none;
}

.footer .footer-news.foot-white .form-control {
    color: #adb5bd;
}

.footer .footer-news input::placeholder {
    color: #adb5bd;
}

.footer .text-foot {
    color: #adb5bd;
}

.footer .footer-item li {
    margin-bottom: 10px;
}

.footer .footer-item li a {
    color: #adb5bd;
}

.footer .footer-item li a:hover {
    color: #3FAF90 !important;
}

.footer .footer-item li:last-child {
    margin-bottom: 0;
}

.footer.footer-bar {
    border-top: 1px solid #495057;
}

.bg-dark {
    background-color: #35404e !important;
}

.shadow {
    box-shadow: 0 0 5px rgb(0 0 0 / 15%) !important;
}

.rounded {
    border-radius: 5px !important;
}

.team-box .team-info {
    z-index: 1;
}

.team-box .team-members-overlay {
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(100px);
}

.team-box .team-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.5s ease;
    background-color: rgba(53, 64, 78, 0.9);
    transform: translateX(250px);
    opacity: 0;
}

.team-box .team-overlay .team-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.team-box:hover .team-members-overlay,
.team-box:hover .team-overlay {
    opacity: 1;
    transform: translateX(0);
}